<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    {% include "../includes/head.html" %}
  </head>

  <body>

    <!-- Fixed navbar -->
    {% include "../includes/navbar.html" %}
    {% block content %}{% endblock %}

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	{% include "../includes/footer.html" %}
	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "../includes/foot.html" %}  
  </body>
</html>
